body{
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
}

.contenedor{
    width: 350px;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(126, 78, 180);
}

h1{
    color: #000a96;
}

input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}
.boton{
    margin: 10px;
    background-color: rgb(44, 36, 78);
    color: white;
    padding: 20px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.5s;
    }
.boton:hover{

    background-color: rgb(129, 119, 119);
    transform: scale(1.2);
}